<h1>Meet The Team</h1>
<p>Our team comes from a wide variety of industries, all with a passion for allowing users to engage with their images and videos.</p>
<p>In a short period of time we've gone from the 4 of us working as our user base to 10,000 users</p>