<h1>Meet The Team</h1>
<p>Our team comes from a wide variety of industries, all with a passion for allowing users to engage with their images and videos.</p>
<p>In a short period of time we've gone from the 4 of us working as our user base to 10,000 users</p>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://howimbuildingmylife.com/wp-content/uploads/2015/08/IMG_9060-e1440873787994.jpg" alt="TWH3">
      <div class="caption">
        <h3>Thomas Wilson Hanks III</h3>
        <p>TWH3 Comes to us via New Jersey, the city by the sea...is that what they call it? Who knows for sure? As the most junior member of our team, TWH3 is the life of any party as evidenced by his large number of selfies.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://howimbuildingmylife.com/wp-content/uploads/2015/08/IMG_8861.jpg" alt="Ms.Whiskas">
      <div class="caption">
        <h3>Ms. Whiskas</h3>
        <p>The Lone Whiska comes out of the Australian Outback...actually that's not true at all. She just wishes that were the case after a couple blokes bet each other that she was actually from Down Under. We can all dream! </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://howimbuildingmylife.com/wp-content/uploads/2015/08/FullSizeRender.jpg" alt="Sucker Dood">
      <div class="caption">
        <h3>Sucker Dooder</h3>
        <p>This is Dood. He enjoys sleeps, talking, rubs, and long walks on the beach. He used to hump his sister which was pretty weird, but he's settled down since and keeps it in his fur and reserves it for non-family members.</p>
      </div>
    </div>
  </div>
</div>